.row{
    padding: 30px;
}
/*Esto es para los textos*/
div{
    background-color:#e7add6cc;
    text-align: center;
}
/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
    }
    #nombre{
        font-weight: bold;
        margin-top: 50%;
    }
    .descripcion{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        width: 40%;
        border-radius: 100%;
        box-shadow: 5px 5px 5px gray;
        margin-top: 7%;
    }
    #nombre{
        font-weight: bold;
        margin-top: 10%;
    }
}
