.row{
    background-color: #e7add6cc;
}
footer{
    color: #666060;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #b8a9a9 ;
}