<div>
    <a href=""><img src="../../../assets/linkelind.png" alt="https://www.linkedin.com/in/mara-delgadillo-48a858181/"></a>
    <a href=""><img src="../../../assets/tw.png" alt="https://twitter.com/MaraDel1998"></a>
    <a href=""><img src="../../../assets/insta1.png" alt="https://www.instagram.com/maradelgadillo98/"></a>
    <a href=""><img src="../../../assets/github.png" alt="https://github.com/MaraD98"></a>
    <a href=""><img src="../../../assets/face.png" alt="https://www.facebook.com/maradelgadillo98/"></a>
</div>
