<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-11 col-md-6 col-lg-6 parte1">
            <h3>Encriptador</h3>
            <p> Codificador de texto con las siguientes caracteristicas y condiciones: 
                <li>
                    Tecnologías utilizadas: CSS / JS / HTML 
                </li>
                <li>
                    Debe funcionar solo con letras minúsculas 
                </li>
                <li>
                    No deben ser utilizados letras con acentos ni caracteres especiales 
                </li>
                <li>
                    Debe ser posible convertir una palabra para la versión encriptada y para la version desencriptada.
                </li>
                <li>
                    La pagina debe estar construida visualmente usando HTML y CSS.
                </li>
                <b>Ejemplo de encriptación:</b> "gato" => "gaitober" gaitober" => "gato".
            </p>
        </div>
        <div class="col-sm-11 col-md-5 col-lg-5 offset-md-1 offset-lg-1 parte2">
            <a href="https://marad98.github.io/Encriptador/" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/portada.png" class="img-fluid img-proyecto"
            id="img">
            </a>
        </div>
    </div>
</div>