<div class="row">

    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/newproyecto" *ngIf="isLogged">
            Agregar Proyecto
        </button>
    </div>

    <div class="contenedor" *ngFor="let Proyecto of proyecto">
        <div class="col-sm-11 col-md-6 col-lg-6 parte1">
            <p>{{Proyecto.descripcion}}</p>
        </div>
        <div class="col-sm-11 col-md-5 col-lg-5 offset-md-1 offset-lg-1 parte2">
            <img src={{Proyecto.img}} class="img-fluid img-proyecto" id="img">
        </div>
    </div>
</div>