<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/AP.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/mara-delgadillo-48a858181/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/linkedin.png" id="linkedin" alt="Linkedin"></a>
            <a href="https://twitter.com/MaraDel1998" target="_blank" rel="noopener noreferrer"><img src="../../../assets/tw.png" id="tw" alt="Twitter"></a>
            <a href="https://www.instagram.com/maradelgadillo98" target="_blank" rel="noopener noreferrer"><img src="../../../assets/insta1.png" id="insta" alt="Instagram"></a>
            <a href="https://github.com/MaraD98" target="_blank" rel="noopener noreferrer"><img src="../../../assets/github.png" id="git" alt="GitHub"></a>
            <a href="https://www.facebook.com/maradelgadillo98" target="_blank" rel="noopener noreferrer"><img src="../../../assets/face.png" id="face" alt="Facebook"></a>
            <button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!issLogged">INGRESAR</button>
            <button type="button" class="btn btn-outline-dark" (click)="onLogOut()" *ngIf="issLogged">CERRAR SESIÓN</button>
        </div>
    </div>
</div>