<div class?= "row">
    <div>
        <img src="../../../assets/perfil.jpeg" class="img-fluid">
    </div>
    <div>
        <p>Delgadillo Mara Celina</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div>
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facilis molestiae aspernatur fugiat exercitationem dicta,
                esse corrupti tempore eos minima deserunt saepe odit corporis
                soluta nam eaque quasi unde praesentium harum.
            </p>
        </span>
    </div>
</div>

